POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=yolo_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

API_PORT=8000

# minio credentials
MINIO_ENDPOINT=MINIO_ENDPOINT
MINIO_ACCESS_KEY=ACCESS_KEY_MINIO
MINIO_SECRET_KEY=SECRET_KEY_MINIO
MINIO_BUCKET=LOCATION_BUCKET
MINIO_SECURE=false

MINIO_ENDPOINT_READ=READ_MINIO_ENDPOINT

#SMTP Email Configuration
SMTP_PASSWORD_OFFICE="PASSWORD_EMAIL_OFFICE"
SMTP_USER="SMTP_USER_EMAIL_OFFICE"
REPORT_RECIPIENT_1="REPORT_RECIPIENT_1_EMAIL"
REPORT_RECIPIENT_2="REPORT_RECIPIENT_2_EMAIL"
REPORT_RECIPIENT_3="REPORT_RECIPIENT_3_EMAIL"

#Konfigurasi WhatsApp (GoWA)
WA_API_URL=http://GOWA_API/send/file
wa_device_id_01=WA_DEVICE_ID
WA_GROUP_MASSAGE=ID_GROUP


# Frontend URL for CORS
FRONTEND_URL="http://IP:location:3000"
FRONTEND_URL_LOCALHOST="http://localhost:3000"


# RTSP Camera URL
CAM_1="rtsp://user:pass:IP/Streaming/Channels/location"

